@using System.Web.UI.WebControls
@using Raven.Imports.Newtonsoft.Json
@model Easyfy.Satellit.Model.Posts.Post

@{
  ViewBag.Title = "Create";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skapa nytt inlägg</h2>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
          @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
          </div>
      </div>*@
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
      @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title, "H1", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">

        <div>
          @Html.TextAreaFor(model => model.Content)
        </div>

        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
      </div>
    </div>

    @*<textarea id="textarea_editor" class="example" rows="1"></textarea>*@

    <div class="form-group">
      @Html.LabelFor(model => model.Tags, htmlAttributes: new {@class = "control-label col-md-2"})
      <div class="col-md-10" data-role="tagsinput">
        @Html.EditorFor(model => model.Tags, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Tags, "Separera taggarna med kommatecken.", new {@class = "text-danger"})
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10" id="datepicker" >
        @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.BlogReference, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(model => model.BlogReference, ViewBag.blog as SelectList, "Välj blogg", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BlogReference, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Publicera" class="btn btn-success" />
      </div>
    </div>
  </div>
}

<div>
  @Html.ActionLink("Till startsidan", "Index", "Home")
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}




