@model Easyfy.Satellit.Model.Posts.Post

@{
    ViewBag.Title = "Delete";
}

<h2>Radera</h2>

<h3>Vill du radera denna post?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Content)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-danger" /> |
            @Html.ActionLink("Ångra/Tillbaka", "Index")
        </div>
    }
</div>
